@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #15111f;
  --grad: linear-gradient(
    180deg,
    #e9a030 36.46%,
    #fbe7b6 53.65%,
    #bf671f 70.83%
  );
  background-clip: text;
  --text: #96502c;
  --lightText: #c19680;
}

body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: var(--text);
  background-color: var(--bg);
}

section {
  padding-inline: 30px;
}

.btnText {
  color: #da9f45;
  text-shadow: 0.5px 0.5px 0px #55301d;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

button {
  background: "none";
  font-weight: 800;
}

.btmBorder {
  border-bottom: 1px solid #2f2830;
}

h1 {
  /* text-shadow: 2px 2px 0px #55301d; */
  font-family: Oswald;
  font-size: clamp(52px, 7.45vw, 84px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  background: var(--grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  stroke: #55301d;
}

h2 {
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  /* background: linear-gradient(2deg, #55301d 5.36%, #97522e 74.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(2deg, #55301d 0.15%, #fbc869 74.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr {
  width: 300px;
  height: 2px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #fbc869 0%, rgba(251, 200, 105, 0) 100%);
}

h3 {
  color: var(--text);
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.hover {
  transition: transform 0.2s ease-in-out;
}
.hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hover:active {
  transform: scale(0.95);
  cursor: grabbing;
}

.fcc {
  @apply flex flex-col items-center;
}
.fccc {
  @apply fcc justify-center;
}

.gcc {
  @apply grid items-center justify-center;
}

input {
  border-radius: 5px;
  border: 2px solid #c9955f;
  background: #e5be7a;
  box-shadow: 0px 3px 0px 0px rgba(150, 80, 44, 0.05) inset,
    0px -1px 0px 0px rgba(31, 31, 31, 0.4) inset,
    0px 3px 8px 0px rgba(0, 0, 0, 0) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 55px;
  padding-inline: 10px;
  color: var(--text);
}

input::placeholder {
  color: var(--text);
  opacity: 0.7;
  font-weight: 500;
}

.btnPrimary {
  @apply hover;
  display: flex;
  color: var(--text);
  text-transform: uppercase;
  height: 55px;
  padding: 6px 114px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: linear-gradient(180deg, #e9a030 7.29%, #bf671f 100%);
  box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -2px 4px 0px rgba(0, 0, 0, 0.3) inset, 0px 5px 20px 0px #15111f,
    0px -5px 10px 0px rgba(255, 172, 44, 0.1);
  /* background: linear-gradient(180deg, #e9a030 7.29%, #bf671f 100%);
  box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -2px 4px 0px rgba(0, 0, 0, 0.3) inset,
    0px 5px 10px 0px rgba(146, 85, 39, 0.5),
    0px -5px 10px 0px rgba(255, 172, 44, 0.1); */
}

.loginBg {
  background-color: "transparent";
  background-image: "url('/loginScreen.png')";
  background-size: "cover";
  background-repeat: "no-repeat";
}
